<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Hierarchy Page</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

    <h2 class="text-center bg-secondary fst-italic fs-1 p-2 my-2">{{ department.name }} Employee Hierarchy</h2>

  <div class="container border border-light shadow p-2 my-2">  
    <h3 class="text-center fs-3 fw-bold">Manager:</h3>
    {% if hierarchy.Manager %}
      <h5 class="text-center fs-4 fw-semibold"> {{ hierarchy.Manager.name }} ({{ hierarchy.Manager.designation }})</h5><br>
    {% else %}
      <h5 class="text-center">  No manager assigned.</h5><br>
    {% endif %}

    {% if hierarchy.TL %}
      {% for team_lead,associates in hierarchy.Associate.items %}
      <div class="border border-white shadow p-3 my-2">
        <h3 class="text-center">Team Leads:</h3>
          <h5 class="text-center fs-4 fw-semibold">{{ team_lead.name }} ({{ team_lead.designation }})</h5><br>
          <h3 class="text-center">Associates:</h3>
            {% if associates %}
              <ul class="text-center list-unstyled">
                {% for assoc in associates %}
                    <li class="fs-4 fw-medium">{{ assoc.name }} ({{ assoc.designation }})</li>
                {% endfor %}
              </ul>
            {% else %}
              <h5 class="text-center"> No associates under this team lead.</h5><br>
            {% endif %}
      </div>
      {% endfor %}
    {% else %}
      <h5 class="text-center">No team leads assigned.</h5><br>
    {% endif %}
  </div>
   
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>