<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Salary Page</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Employee Salary Page </h1>
    {% if salary %}

        <table class="table table-striped table-light table-hover">
            <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>Salary</th>
                <th>From</th>
                <th>Till</th>
                <th colspan="2">Action</th>
            </tr>
            {% for sal in salary %}
                <tr>
                    <td>{{sal.id}}</td>
                    <td>{{sal.employee}}</td>
                    <td>{{sal.salary}}</td>
                    <td>{{sal.from_Date}}</td>
                    <td>{{sal.till_Date}}</td>
                    <td>
                        <button class="btn1 btn btn-info"><a href="{% url 'update-salary' sal.id %}" class="text-decoration-none">Update</a></button>
                    </td>
                    <td>
                        <form action="{% url 'delete-salary' sal.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn1 btn btn-danger ">
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <h3>
            No Records were Found!!!!
        </h3>
    {% endif %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{message}}
    </div>
    {% endfor %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}">
    </script>
</body>
</html>


