<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Employee Salary_Report Page</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

    <h2 class="text-primary text-center fs-1">Salary Report</h2>
    <p class="fw-light fs-3 border p-3 my-2">Report for {{ start_date }} to {{ end_date }}</p>
  <table class="table table-striped table-hover table-light">
      <tr>
        <th>Department</th>
        <th>Designation</th>
        <th>Total Salary Cost</th>
      </tr>

      {% for entry in salary_report_data %}
        <tr>
          <td>{{ entry.employee__departments__name }}</td>
          <td>{{ entry.employee__designation }}</td>
          <td>{{ entry.total_salary_cost }}</td>
        </tr>
      {% endfor %}

  </table>
<a class="btn btn-primary " href="{% url 'salary-report' %}">Check another Report</a>
</body>
</html>