<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Updating Department</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <h1 class="text-center">Updating Employee Department </h1>

    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Update" class="btn btn-primary">
    </form>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{message}}
    </div>
    {% endfor %}
</body>
</html>